.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    position: fixed;
    top: 0;
    width: 99%;
    height: 25px;
    padding: 20px 10px;
    z-index: 1000;
}

.loginText{
    position: relative;
    top: 0;
}